# <centre> Learning EDA from Historic Diaster "The Titanic Wreck" <centre/>

<img src="https://raw.githubusercontent.com/insaid2018/Tableau/master/Data/titanic11.jpg"/>

## Table of Contents

1. [Objective](#section1)<br>
2. [Importing Packages and Collecting Data](#section2)
3. [Data Profiling & Preprocessing](#section3)
    - 3.1 [Pre Profiling](#section301)<br/>
    - 3.2 [Preprocessing](#section302)<br/>
    - 3.3 [Post Profiling](#section303)<br/>
4. [Analysis Through Data Visualization](#section4)
    - 4.1 [What is Total Count of Survivals and Victims?](#section401)<br/>
    - 4.2 [Which Gender has more Survival rate?](#section402)<br/>
    - 4.3 [What is Survival rate based on Person type(Male,female,Child)](#section403)<br/>
    - 4.4 [Did Economy Class had an impact on Survival?](#section404)<br/>
    - 4.5 [What is the Survival probaility based on Embarkment of Passengers?](#section405)<br/>
    - 4.6 [How is Fare distributed for the Passengers?](#section406)<br/>
    - 4.7 [What was Average Fare by Pclass & Embark location?](#section407)<br/>
    - 4.8 [ Segment Age in bins with size of 20.Also Correlate Age with Survival.](#section408)<br/>
    - 4.9 [ Did Solo Traveller has less chances of Survival?](#section409)<br/>
    - 4.10 [How did Total family size affected Survival Count?](#section410)<br/>
    - 4.11 [How can you correlate Pclass/Age/fare with Survival rate?](#section411)<br/>
    - 4.12 [Which features had most Impact on Survival rate? ](#section412)<br/>
5. [Conclusions](#section5)<br/>

# Objective



The objective here is to conduct Exploratory data analysis **(EDA)** on the Titanic Dataset in order to gather insights and evenutally predicting survior on basics of factors like Class ,Sex , Age , Gender ,Pclass etc.

**Why EDA?**
   - An approach to summarize, visualize, and become intimately familiar with the important characteristics of a data set.
   - Defines and Refines the selection of feature variables that will be used for machine learning.
   - Helps to find hidden Insights
   - It provides the context needed to develop an appropriate model with minimum errors


**About Event**

The RMS Titanic was a British passenger liner that **sank** in the **North Atlantic Ocean** in the early morning hours of **15 April 1912**, after it collided with an iceberg during its maiden voyage from **Southampton** to **New York City**. There were an estimated **2,224** passengers and crew aboard the ship, and more than **1,500** died, making it one of the deadliest commercial peacetime maritime disasters in modern history.
This sensational tragedy shocked the international community and led to better safety regulations for ships.

<img src="https://raw.githubusercontent.com/insaid2018/Tableau/master/Data/titanic-maiden-voyage-route.gif" width="400" height="460"/>

### 2. Data  Description

The dataset consists of the information about people boarding the famous RMS Titanic. Various variables present in the dataset includes data of age, sex, fare, ticket etc.
The dataset comprises of 891 observations of 12 columns. Below is a table showing names of all the columns and their description.


| Column Name   | Description                                               |
| ------------- |:-------------                                            :| 
| PassengerId   | Passenger Identity                                        | 
| Survived      | Survival (0 = No; 1 = Yes)                                |  
| Pclass        | Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)               | 
| Name          | Name of passenger                                         |   
| Sex           | Sex of passenger                                          |
| Age           | Age of passenger                                          |
| SibSp         | Number of sibling and/or spouse travelling with passenger |
| Parch         | Number of parent and/or children travelling with passenger|
| Ticket        | Ticket number                                             |
| Fare          | Price of ticket                                           |
| Cabin         | Cabin number                                              |
|Embarkment     | Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)|

In [1]:
pip install pandas_profiling

Requirement already satisfied: pandas_profiling in c:\users\hp\anaconda3\lib\site-packages (3.6.2)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (2.11.2)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.12.3)
Requirement already satisfied: requests<2.29,>=2.24.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (2.24.0)
Requirement already satisfied: matplotlib<3.7,>=3.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (3.3.2)
Requirement already satisfied: scipy<1.10,>=1.4.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.8.0)
Requirement already satisfied: pandas!=1.4.0,<1.6,>1.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.4.2)
Requirement already satisfied: visions[type_image_path]==0.7.5 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.7.5)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (5.3.1)
Requirement already satisfied: pydantic<1.11,>=1.8.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.10.4)
Requirement already satisfied: seaborn<0.13,>=0.10.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.11.0)
Requirement already satisfied: statsmodels<0.14,>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.13.2)
Requirement already satisfied: multimethod<1.10,>=1.4 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.9.1)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: tqdm<4.65,>=4.48.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (4.50.2)
Requirement already satisfied: numpy<1.24,>=1.16.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (1.19.2)
Requirement already satisfied: typeguard<2.14,>=2.13.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas_profiling) (2.13.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (20.3.0)
Requirement already satisfied: tangled-up-in-unicode>=0.0.4 in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (0.2.0)
Requirement already satisfied: networkx>=2.4 in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (2.5)
Requirement already satisfied: Pillow in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (8.0.1)
Requirement already satisfied: imagehash in c:\users\hp\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.5->pandas_profiling) (4.3.1)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\hp\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->pandas_profiling) (1.1.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (2.8.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib<3.7,>=3.2->pandas_profiling) (1.3.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas!=1.4.0,<1.6,>1.1->pandas_profiling) (2020.1)
Requirement already satisfied: joblib>=0.14.1 in c:\users\hp\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->pandas_profiling) (0.17.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\hp\anaconda3\lib\site-packages (from pydantic<1.11,>=1.8.1->pandas_profiling) (4.4.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\hp\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests<2.29,>=2.24.0->pandas_profiling) (1.25.11)
Requirement already satisfied: patsy>=0.5.2 in c:\users\hp\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas_profiling) (0.5.2)
Requirement already satisfied: packaging>=21.3 in c:\users\hp\anaconda3\lib\site-packages (from statsmodels<0.14,>=0.13.2->pandas_profiling) (21.3)
Requirement already satisfied: six in c:\users\hp\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<3.7,>=3.2->pandas_profiling) (1.15.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\hp\anaconda3\lib\site-packages (from networkx>=2.4->visions[type_image_path]==0.7.5->pandas_profiling) (4.4.2)
Requirement already satisfied: PyWavelets in c:\users\hp\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.5->pandas_profiling) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution -tatsmodels (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\hp\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -tatsmodels (c:\users\hp\anaconda3\lib\site-packages)

[notice] A new release of pip available: 22.2.1 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import numpy as np               # For linear algebra
import pandas as pd              # For data manipulation
import matplotlib.pyplot as plt  # For 2D visualization
import pandas_profiling
import seaborn as sns
%matplotlib inline
sns.set()

**Importing Data**

In [3]:
titanic_train=pd.read_csv("https://raw.githubusercontent.com/mohittomar2008/Titanic-Project/main/titanic_train.csv")
titanic_test=pd.read_csv("https://raw.githubusercontent.com/mohittomar2008/Titanic-Project/main/test.csv")

combine = [titanic_train, titanic_test]

In [4]:
combine

[     PassengerId  Survived  Pclass  \
 0              1         0       3
 1              2         1       1
 2              3         1       3
 3              4         1       1
 4              5         0       3
 ..           ...       ...     ...
 886          887         0       2
 887          888         1       1
 888          889         0       3
 889          890         1       1
 890          891         0       3

                                                   Name     Sex   Age  SibSp  \
 0                              Braund, Mr. Owen Harris    male  22.0      1
 1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
 2                               Heikkinen, Miss. Laina  female  26.0      0
 3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
 4                             Allen, Mr. William Henry    male  35.0      0
 ..                                                 ...     ...   ...    ...
 886                              Montvila, Rev. Juozas    male  27.0      0
 887                       Graham, Miss. Margaret Edith  female  19.0      0
 888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
 889                              Behr, Mr. Karl Howell    male  26.0      0
 890                                Dooley, Mr. Patrick    male  32.0      0

      Parch            Ticket     Fare Cabin Embarked
 0        0         A/5 21171   7.2500   NaN        S
 1        0          PC 17599  71.2833   C85        C
 2        0  STON/O2. 3101282   7.9250   NaN        S
 3        0            113803  53.1000  C123        S
 4        0            373450   8.0500   NaN        S
 ..     ...               ...      ...   ...      ...
 886      0            211536  13.0000   NaN        S
 887      0            112053  30.0000   B42        S
 888      2        W./C. 6607  23.4500   NaN        S
 889      0            111369  30.0000  C148        C
 890      0            370376   7.7500   NaN        Q

 [891 rows x 12 columns],
      PassengerId  Pclass                                          Name  \
 0            892       3                              Kelly, Mr. James
 1            893       3              Wilkes, Mrs. James (Ellen Needs)
 2            894       2                     Myles, Mr. Thomas Francis
 3            895       3                              Wirz, Mr. Albert
 4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
 ..           ...     ...                                           ...
 413         1305       3                            Spector, Mr. Woolf
 414         1306       1                  Oliva y Ocana, Dona. Fermina
 415         1307       3                  Saether, Mr. Simon Sivertsen
 416         1308       3                           Ware, Mr. Frederick
 417         1309       3                      Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
 0      male  34.5      0      0              330911    7.8292   NaN        Q
 1    female  47.0      1      0              363272    7.0000   NaN        S
 2      male  62.0      0      0              240276    9.6875   NaN        Q
 3      male  27.0      0      0              315154    8.6625   NaN        S
 4    female  22.0      1      1             3101298   12.2875   NaN        S
 ..      ...   ...    ...    ...                 ...       ...   ...      ...
 413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
 414  female  39.0      0      0            PC 17758  108.9000  C105        C
 415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
 416    male   NaN      0      0              359309    8.0500   NaN        S
 417    male   NaN      1      1                2668   22.3583   NaN        C

 [418 rows x 11 columns]]

In [5]:
Titanic_data.columns

NameError: name 'Titanic_data' is not defined

In [ ]:
Titanic_data.head(10)

In [ ]:
Titanic_data.tail(10)

# **Examining Data**

In [ ]:
Titanic_data.shape #shows total number of rows and columns in data set

In [ ]:
Titanic_data.describe()


**Insights**:

1.Total samples are **891** or **40%** of the actual number of passengers on board the Titanic **(2,224)**

2.Survived is a categorical feature with 0 or 1 values

3.Around **38%** samples survived representative of the actual survival rate at **32%**

4.Fares varied significantly with few passengers (<1%) paying as high as $512.

5.Few elderly passengers (<1%) within age range **65-80**.

# Data Profiling

By pandas profiling, an interactive **HTML report** gets generated which contains all the information about the columns of the dataset, like the counts and type of each column. 

1.Detailed information about each column, coorelation between different columns and a sample of dataset

2.It gives us visual interpretation of each column in the data

3.Spread of the data can be better understood by the distribution plot

4.Grannular level analysis of each column.

In [ ]:
profile = pandas_profiling.ProfileReport(Titanic_data)
profile.to_file(outputfile="Titanic_before_preprocessing.html")

# Data Preprocessing

1. Check for Errors and Null Values

2. Replace Null Values with appropriate values

3. Drop down features that are incomplete and are not too relevant for analysis

4. Create new features that can would help to improve prediction

**Check for null or empty values in Data**

In [ ]:
miss1=Titanic_data.isnull().sum()
miss= (Titanic_data.isnull().sum()/len(Titanic_data))*100
miss_data=pd.concat([miss1,miss],axis=1,keys=['Total','%'])
print(miss_data)

The Age, Cabin and Embarked have null values.Lets fix them

**Filling missing age by median**

In [ ]:
new_age = Titanic_data.Age.median()  
Titanic_data.Age.fillna(new_age, inplace = True)
Titanic_test.Age.fillna(new_age, inplace = True)

**Filling missing Embarked by mode**

In [ ]:
Titanic_data.Embarked = Titanic_data.Embarked.fillna(Titanic_data['Embarked'].mode()[0])
Titanic_test.Embarked = Titanic_test.Embarked.fillna(Titanic_data['Embarked'].mode()[0])

**Cabin feature may be dropped as it is highly incomplete or contains many null values**

In [ ]:
Titanic_data.drop('Cabin', axis = 1,inplace = True)

**PassengerId  Feature may be dropped from training dataset as it does not contribute to survival**

In [ ]:
Titanic_data.drop('PassengerId', axis = 1,inplace = True)

**Ticket feature may be dropped down**

In [ ]:
Titanic_data.drop('Ticket', axis = 1,inplace = True)

# Creating New Fields

1. Create New Age Bands to improve  prediction Insights

2. Create a new feature called Family based on Parch and SibSp to get total count of family members on board

3. Create a Fare range feature if it helps our analysis

**AGE-BAND**

In [ ]:
Titanic_data['Age_band']=0
Titanic_data.loc[Titanic_data['Age']<=1,'Age_band']="Infant"
Titanic_data.loc[(Titanic_data['Age']>1)&(Titanic_data['Age']<=12),'Age_band']="Children"
Titanic_data.loc[Titanic_data['Age']>12,'Age_band']="Adults"
Titanic_data.head(2)

**Fare-Band**

In [ ]:
Titanic_data['FareBand']=0
Titanic_data.loc[(Titanic_data['Fare']>=0)&(Titanic_data['Fare']<=10),'FareBand']=1
Titanic_data.loc[(Titanic_data['Fare']>10)&(Titanic_data['Fare']<=15),'FareBand']=2
Titanic_data.loc[(Titanic_data['Fare']>15)&(Titanic_data['Fare']<=35),'FareBand']=3
Titanic_data.loc[Titanic_data['Fare']>35,'FareBand']=4
Titanic_data.head(2)

We want to analyze if Name feature can be engineered to extract titles and test correlation between titles and survival, before dropping Name and PassengerId features.

- In the following code we extract Title feature using regular expressions. The RegEx pattern (\w+\.) matches the first word which ends with a dot character within Name feature. The expand=False flag returns a DataFrame.

In [ ]:

for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.)', expand=False)

pd.crosstab(Titanic_data['Title'], Titanic_data['Sex'])

- We can replace many titles with a more common name or classify them as Rare.

In [ ]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
Titanic_data[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

- We can convert the categorical titles to ordinal.

In [ ]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

Titanic_data.head()


**Insights**

- Most titles band Age groups accurately. For example: Master title has Age mean of 5 years.
- Survival among Title Age bands varies slightly.
- Certain titles mostly survived (Mme, Lady, Sir) or did not (Don, Rev, Jonkheer).

### Decision
#### We decide to retain the new Title feature for model training


### Now we can convert features which contain strings to numerical values. This is required by most model algorithms. Doing so will also help us in achieving the feature completing goal.

- Converting Sex feature to a new feature called Gender where female=1 and male=0.

In [ ]:
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

Titanic_data.head()

**Extracting Titles Now we can drop down Name feature**

In [ ]:
Titanic_data.drop('Name', axis = 1,inplace = True)

In [ ]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

Titanic_data.head()

- We can also create an artificial feature combining Pclass and Age.

In [ ]:
for dataset in combine:
    dataset['Age*Class'] = dataset.Age * dataset.Pclass

Titanic_data.loc[:, ['Age*Class', 'Age', 'Pclass']].head(10)

# Post Pandas Profiling : Checking Data after data preparation

In [ ]:
import pandas_profiling
profile = pandas_profiling.ProfileReport(Titanic_data)
profile.to_file(outputfile="Titanic_after_preprocessing.html")

# Data Visualization

4.1 **What is Total Count of Survivals and Victims?**

In [ ]:
Titanic_data.groupby(['Survived'])['Survived'].count()# similar functions unique(),sum(),mean() etc

In [ ]:
plt = Titanic_data.Survived.value_counts().plot('bar')
plt.set_xlabel('DIED OR SURVIVED')
plt.set_ylabel('Passenger Count')

**Insights** 
- Only 342 Passengers Survived out of 891
- Majority Died which conveys there were less chances of Survival

--------------------------------------------------------------------------------------------------

4.2 **Which gender has more survival rate?**

In [ ]:
Titanic_data.groupby(['Survived', 'Sex']).count()["Age"]

In [ ]:
sns.countplot('Survived',data=Titanic_data,hue='Sex')

In [ ]:
Titanic_data[['Sex','Survived']].groupby(['Sex']).mean().plot.bar()

**Insights**

-  Female has better chances of Survival "LADIES FIRST"
-  There were more males as compared to females ,but most of them died.

4.3 **What is Survival rate based on Person type?**

In [ ]:
Titanic_data.groupby(['Survived', 'Age_band']).count()['Sex']

In [ ]:
Titanic_data[Titanic_data['Age_band'] == 'Adults'].Survived.groupby(Titanic_data.Survived).count().plot(kind='pie', figsize=(6, 6),explode=[0,0.05],autopct='%1.1f%%')
plt.axis('equal')
#plt.legend(["Died","Survived"])
#plt.set_title("Adult survival rate")
plt.show()

------------------------------------------**ADULT-SURVIVAL RATE**--------------------------------------------------------------

In [ ]:
Titanic_data[Titanic_data['Age_band'] == 'Children'].Survived.groupby(Titanic_data.Survived).count().plot(kind='pie', figsize=(6, 6),explode=[0,0.05],autopct='%1.1f%%')
plt.axis('equal')
#plt.legend(["Died","Survived"])
plt.set_title("Child survival rate")
#plt.show()

------------------------------------------**CHILD-SURVIVAL RATE**--------------------------------------------------------------

In [ ]:
Titanic_data[Titanic_data['Age_band'] == 'Infant'].Survived.groupby(Titanic_data.Survived).count().plot(kind='pie', figsize=(6, 6),explode=[0,0.05],autopct='%1.1f%%')
plt.axis('equal')
#plt.legend(["Died","Survived"])
plt.set_title("Infant survival rate")
#plt.show()

**Insights** 

- Majority Passengers  were  Adults

- Almost half of the total number of children survived.

- Most of the Adults failed to Survive

- More than 85percent of Infant Survived

4.4 **Did Economy Class had an impact on survival rate?**

In [6]:
Titanic_data.groupby(['Pclass', 'Survived'])['Survived'].count()

NameError: name 'Titanic_data' is not defined

In [ ]:
sns.barplot('Pclass','Survived', data=Titanic_data)

In [ ]:
sns.barplot('Pclass','Survived',hue='Sex', data=Titanic_data)

**Insights**

- Most of the passengers travelled in Third class but only 24per of them survived

- If we talk about survival ,more passengers in First class survived and again female given more priority

- Economic Class affected Survival rate and Passengers travelling with First Class had higher ratio of survival as compared to Class 2 and 3.

4.5 **What is Survival Propability based on Embarkment of passengers?**

Titanic’s first voyage was to New York before sailing to the Atlantic Ocean it picked passengers from three ports Cherbourg(C), Queenstown(Q), Southampton(S). Most of the Passengers in Titanicic embarked from the port of Southampton.Lets see how embarkemt affected survival probability.

In [ ]:

sns.countplot('Embarked',data=Titanic_data)

In [ ]:
plt = Titanic_data[['Embarked', 'Survived']].groupby('Embarked').mean().Survived.plot('bar')
plt.set_xlabel('Embarked')
plt.set_ylabel('Survival Probability')

**Gender Survival based on Embarkment and Pclass**

In [ ]:
pd.crosstab([Titanic_data.Sex, Titanic_data.Survived,Titanic_data.Pclass],[Titanic_data.Embarked], margins=True)

In [ ]:
sns.violinplot(x='Embarked',y='Pclass',hue='Survived',data=Titanic_data,split=True)

In [ ]:
sns.catplot(x="Embarked", y="Survived", hue="Sex",
            col="Pclass", aspect=.8,kind='bar',
             data=Titanic_data);

**Insights:**

- Most Passengers from port C Survived.

- Most Passengers were from  Southampton(S).

- Exception in Embarked=C where males had higher survival rate. This could be a correlation between Pclass and Embarked and in turn Pclass and Survived, not necessarily direct correlation between Embarked and Survived.

- Males had better survival rate in Port C when compared for  S and Q ports.
- Females had least Survival rate in Pclass 3

4.6 **How is Fare distributed for  Passesngers?**

In [ ]:
Titanic_data['Fare'].min()

In [ ]:
Titanic_data['Fare'].max()

In [ ]:
Titanic_data[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

In [ ]:
Titanic_data.groupby(['FareBand', 'Survived'])['Survived'].count()

In [ ]:
sns.swarmplot(x='Survived', y='Fare', data=Titanic_data);

**Insights**

- Majority Passenger's fare lies in 0-100 dollars range
- Passengers who paid more Fares had more chances of Survival
- Fare as high as 514 dollars was purcharsed by very few.(Outlier)

4.7 **What was Average fare by Pclass & Embark location?**

In [ ]:
sns.boxplot(x="Pclass", y="Fare", data=Titanic_data,hue="Embarked")

In [ ]:
sns.boxplot(x="Embarked", y="Fare", data=Titanic_data)

**Insights**

- First Class Passengers paid major part of total Fare.
- Passengers who Embarked from Port C paid Highest Fare

4.8 **Segment Age in bins with size of 10**

In [ ]:
plt=Titanic_data['Age'].hist(bins=20)
plt.set_ylabel('Passengers')
plt.set_xlabel('Age of Passengers')
plt.set_title('Age Distribution of Titanic Passengers',size=17, y=1.08)

Insights:
- The youngest passenger on the Titanic were toddlers under 6 months
- The oldest were of 80 years of age. 
- The mean for passengers was a bit over 29 years i.e there were more young passengers in the ship.

**Lets see how Age has correlation with Survival**

In [ ]:

sns.distplot(Titanic_data[Titanic_data['Survived']==1]['Age'])

In [ ]:
sns.distplot(Titanic_data[Titanic_data['Survived']==0]['Age'])

In [ ]:
sns.violinplot(x='Sex',y='Age',hue='Survived',data=Titanic_data,split=True)

**Insights**
- Most of the passengers died.
- Majority of passengers were between 25-40,most of them died
- Female are more likely to survival

4.9 **Did Solo Passenger has less chances of Survival ?**

In [ ]:
Titanic_data['FamilySize']=0
Titanic_data['FamilySize']=Titanic_data['Parch']+Titanic_data['SibSp']
Titanic_data['SoloPassenger']=0
Titanic_data.loc[Titanic_data.FamilySize==0,'SoloPassenger']=1

In [ ]:
sns.factorplot('SoloPassenger','Survived',data=Titanic_data)

In [ ]:
sns.violinplot(y='SoloPassenger',x='Sex',hue='Survived',data=Titanic_data,split=True)

In [ ]:
sns.factorplot('SoloPassenger','Survived',hue='Pclass',col="Embarked",data=Titanic_data)

**Insights**

- Most of the Passengers were travelling Solo and most of them died
- Solo Females were more likely to Survive as compared to males
- Passengers Class have a positive correlation with Solo Passenger Survival
- Passengers Embarked from Port Q had Fifty -Fifty  Chances of Survival

4.10 **How did total family size affected Survival Count**?

In [ ]:
for i in Titanic_data:
    Titanic_data['FamilySize'] = Titanic_data['SibSp'] + Titanic_data['Parch'] + 1

Titanic_data[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
sns.barplot(x='FamilySize', y='Survived', hue='Sex', data=Titanic_data)

**Insights**
- Both men and women had a massive drop of survival with a FamilySize over 4. 
- The chance to survive as a man increased with FamilySize until a size of 4
- Men are not likely to Survive with FamilySize 5 and 6
- Big Size Family less likihood of Survival

4.11 **How can you correlate Pclass/Age/Fare with Survival rate?**

In [ ]:
sns.pairplot(Titanic_data[["FareBand","Age","Pclass","Survived"]],vars= ["FareBand","Age","Pclass"],hue="Survived", dropna=True,markers=["o", "s"])
#plt.set_title('Pair Plot')

Insights:

- Fare and Survival has positive correlation

- We cannt relate age and Survival as majority of travellers were of mid age

- Higher Class Passengers had more likeihood of Survival

4.12 **Which features had most impact on Survival rate?**

In [ ]:
sns.heatmap(Titanic_data.corr(),annot=True)

**Insights**:

- Older women have higher rate of survival than older men . Also, older women has higher rate of survival than younger women; an opposite trend to the one for the male passengers.
- All the features are not necessary to predict Survival
- More Features creates Complexitity 
- Fare has positive Correlation
- For Females major Survival Chances , only for port C males had more likeihood of Survival.

# Conclusion : "If you were young female travelling in First Class and embarked from port -C then you have best chances of Survival in Titanic"

-  Most of the Passengers Died
- "Ladies & Children First" i.e **76% of Females and 16% of Children** Survived
-  Gender , Passenger type & Classs are mostly realted to Survival.
-  Survival rate diminishes significantly for Solo  Passengers
-  Majority of Male Died
-  Males with Family had better Survival rate as compared to Solo Males

******************************************************************************************************************************

# Part -2

# <center>Machine Learning </center>

## Table of Contents
1. [Logistic Regression](#section1)<br/>
2. [KNN or k-Nearest Neighbors](#section2)<br/>
3. [Support Vector Machines](#section3)<br/>
4. [Naive Bayes classifier](#section4)<br/>
5. [Decision Tree](#section5)<br/>
6. [Random Forrest](#section6)<br/>
7. [Perceptron](#section7)<br/>
8. [Artificial neural network](#section8)<br/>
9. [RVM or Relevance Vector Machine](#section9)<br/>

<a id=section1></f> 
## Importing Machine Learning Packages

In [ ]:
# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
# Data vizualization package
import pandas as pd 
import numpy as np
import random as rnd

In [ ]:
Titanic_data.head()

In [ ]:
Titanic_data['Age_band']=0
Titanic_data.loc[Titanic_data['Age']<=1,'Age_band']=1
Titanic_data.loc[(Titanic_data['Age']>1)&(Titanic_data['Age']<=12),'Age_band']=2
Titanic_data.loc[Titanic_data['Age']>12,'Age_band']=3
Titanic_data.head(2)

### Analyze by pivoting features¶

To confirm some of our observations and assumptions, we can quickly analyze our feature correlations by pivoting features against each other. We can only do so at this stage for features which do not have any empty values. It also makes sense doing so only for features which are categorical (Sex), ordinal (Pclass) or discrete (SibSp, Parch) type.

- **Pclass**: We observe significant correlation (>0.5) among Pclass=1 and Survived (classifying #3). We decide to include this feature in our model.
- **Sex** :We confirm the observation during problem definition that Sex=female had very high survival rate at 74% (classifying #1).
- **SibSp and Parch** : These features have zero correlation for certain values. It may be best to derive a feature or a set of features from these individual features (creating #1).

In [ ]:
Titanic_data[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
Titanic_data[['Sex', 'Survived']].groupby(['Sex'], as_index=False).mean().sort_values(by='Survived', ascending=False)

In [ ]:
Titanic_data[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)


#### Observations form EDA on Categorical Features

- Female passengers had much better survival rate than males.  **Classifying** .
- Exception in Embarked=C where males had higher survival rate. This could be a correlation between Pclass and Embarked and in turn Pclass and Survived, not necessarily direct correlation between Embarked and Survived.
- Males had better survival rate in Pclass=3 when compared with Pclass=2 for C and Q ports.**Correlatring**
- Ports of embarkation have varying survival rates for Pclass=3 and among male passengers. **Correlating**.

#### Decisions.
- Add Sex feature to model training.
- Complete and add Embarked feature to model training.

 There are 60+ predictive modelling algorithms to choose from. We must understand the type of problem and solution requirement to narrow down to a select few models which we can evaluate. Here our problem is a **classification** and **regression** problem.

#### Lets identify relationship between output (Survived or not) with other variables or features (Gender, Age, Port) and perform a category of machine learning which is called supervised learning

<a id=section1></f> 
## 1. Logistic Regression

- Logistic regression is a statistical method for analyzing a dataset in which there are one or more independent variables that determine an outcome.
- Logistic Regression is used when the dependent variable(target) is categorical.
- Logistic regression measures the relationship between the categorical dependent variable (feature) and one or more independent variables (features) by estimating probabilities using a logistic function, which is the cumulative logistic distribution.

In [ ]:
Titanic_data.shape, Titanic_test.shape

In [ ]:
Titanic_test = Titanic_test.drop(['Ticket', 'Cabin','Name'], axis=1)

In [ ]:
X_titanic = Titanic_data.drop("Survived", axis=1)
Y_titanic = Titanic_data["Survived"]
X_test  = Titanic_test.drop("PassengerId", axis=1).copy()
X_titanic.shape, Y_titanic.shape, X_test.shape

In [ ]:
#Titanic_test  = Titanic_test.drop("PassengerId", axis=1)
Titanic_test.head()

In [ ]:
logreg = LogisticRegression()
logreg.fit(X_titanic, Y_titanic)
Y_pred = logreg.predict(X_test)
acc_log = round(logreg.score(X_titanic, Y_titanic) * 100, 2)
acc_log

- **We can use Logistic Regression to validate our assumptions and decisions for feature creating and completing goals. This can be done by calculating the coefficient of the features in the decision function**.

In [ ]:
coeff_df = pd.DataFrame(Titanic_data.columns.delete(0))
coeff_df.columns = ['Feature']
coeff_df["Correlation"] = pd.Series(logreg.coef_[0])

coeff_df.sort_values(by='Correlation', ascending=False)


Positive coefficients increase the log-odds of the response (and thus increase the probability), and negative coefficients decrease the log-odds of the response (and thus decrease the probability).

#### Insights 
- Sex is highest positivie coefficient, implying as the Sex value increases (male: 0 to female: 1), the probability of Survived=1 increases the most.
- Inversely as Pclass increases, probability of Survived=1 decreases the most.
- This way Age*Class is a good artificial feature to model as it has second highest negative correlation with Survived.
- So is Title as second highest positive correlation.

###  Support Vector Machines(SVM)
 Support-vector machines also support-vector networks) are supervised learning models with associated learning algorithms that analyze data used for **classification** and **regression analysis**.

In [ ]:

svc = SVC()
svc.fit(X_titanic, Y_titanic)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
acc_svc

### k-Nearest Neighbors algorithm
In pattern recognition, the k-Nearest Neighbors algorithm (or k-NN for short) is a non-parametric method used for classification and regression. A sample is classified by a majority vote of its neighbors, with the sample being assigned to the class most common among its k nearest neighbors (k is a positive integer, typically small). If k = 1, then the object is simply assigned to the class of that single nearest neighbor.

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train, Y_train)
Y_pred = knn.predict(X_test)
acc_knn = round(knn.score(X_train, Y_train) * 100, 2)
acc_knn

### Naive Bayes
Naive Bayes classifiers are a family of simple probabilistic classifiers based on applying Bayes' theorem with strong (naive) independence assumptions between the features. Naive Bayes classifiers are highly scalable, requiring a number of parameters linear in the number of variables (features) in a learning problem. 

The model generated confidence score is the lowest among the models evaluated so far.

In [ ]:
# Gaussian Naive Bayes

gaussian = GaussianNB()
gaussian.fit(X_train, Y_train)
Y_pred = gaussian.predict(X_test)
acc_gaussian = round(gaussian.score(X_train, Y_train) * 100, 2)
acc_gaussian

### Perceptron
The perceptron is an algorithm for supervised learning of binary classifiers (functions that can decide whether an input, represented by a vector of numbers, belongs to some specific class or not). It is a type of linear classifier, i.e. a classification algorithm that makes its predictions based on a linear predictor function combining a set of weights with the feature vector. The algorithm allows for online learning, in that it processes elements in the training set one at a time.

In [ ]:
# Perceptron

perceptron = Perceptron()
perceptron.fit(X_train, Y_train)
Y_pred = perceptron.predict(X_test)
acc_perceptron = round(perceptron.score(X_train, Y_train) * 100, 2)
acc_perceptron